@charset "UTF-8";
.hide{
	display: none;
}

body{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f2f2f2+50,ffffff+100 */
background: #ffffff; /* Old browsers 
background: -moz-linear-gradient(left,  #ffffff 0%, #f2f2f2 50%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #ffffff 0%,#f2f2f2 50%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #ffffff 0%,#f2f2f2 50%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

section{
	margin-top: 40px;
	margin-bottom: 40px;
}

#burger{
	height: 100px;
	background-color: #f2f2f2;
	padding: 10px 0px 10px 30px;
	width: 100%;
	position: fixed;
	display: inline;
}
#burger img{
	float: right;
	padding-right: 40px;
}
#topNav{
	font-family: sans-serif;
	background-color: #f2f2f2;
	width: 100%;
	height: 20em;
	text-align: center;
	margin-top: 70px;
	display: none;
	position: fixed;
}

nav ul {
	margin-top: 1.4em;
	margin: 0 auto;
	text-align: center;
}

nav ul li{
	display: block;
}

nav ul li a{
	font-size: 2em;
	color: #666;
	padding: 5px;
	margin:15px 10px 0px 15px;
	transition:all 0.5s;
}
nav ul li a:hover{
	color: red;
}
nav ul li a:active{
	color: red;
}
#menulink{
	background-color: red;
	color: #fff;
	font-size: 1.8em;
	font-weight: bold;
	text-align: center;
	width: 100%;
	top:3.4em;
	padding: 5px;
	position: fixed;
	display: inline;
	transition:all 0.3s;
}
/* -------------------------------------- main nav end / splash start ----------------------------------------  */
#splash{
	padding-top: 300px;
	text-align: center;
	min-height: 500px;
}
h1{
	font-size: 8em;
}
h2{
	font-size: 2.5em;
}
hr{
	border-color: red;
}
#splash a{
	color: #000;
}
.hashred{
	color: red;
}
.smaller{
	font-size: 0.8em;
}
/* -------------------------------------- splash end / gallery start ----------------------------------------  */
#gallery{
	width: 100%;
}
#btnholder{
	display: block;
	clear: both;
	padding-top: 30px;
}
.imgholder{
	display: none;
	float: left;
	width: 33.3%;
	opacity: 0;
	opacity: 1;
	transition:all 0.5s;
}
.imgholder:hover{
	opacity: 0.8; 
}

#uploader{
	font-size: 2.4em;
	margin: 0 auto;
	margin-top: 30px;
	display: block;
	padding: 8px;
	background-color: #dbdbdb;
	color: #000;
	border-radius: 5px;
	transition:all 0.3s;
}
#uploader:hover{
	background-color: #999;
}


/* -------------------------------------- Gallery end / video start ----------------------------------------  */
#vidStarter{
	background-color: #f2f2f2;
	width: 100%;
	height: 500px;
}
#vidStarter img{
	margin: 15% 30%;
}
#videozone{
	margin-top: 45px;
	width: 100%;
}
video{
	width: 100%;
}

/* -------------------------------------- video end / game start ----------------------------------------  */
#gameStart{
	width: 100%;
	margin: 0 auto;
}
#gameEnd{
	width: 100%;
	margin: 0 auto;
}

#wasd{
	display: none;
}

#gamecon h3{
	font-size: 1.8em;
	text-align: center;
}

#gamecon p{
	font-size: 1.6em;
	text-align: center;
}

#startBtn{
	font-size: 1.8em;
	display: block;
	text-align: center;
	margin: 0 auto;
	background-color: red;
	padding: 20px;
	border-radius: 3px;
}
.gameBtn{
	display: block;
	text-align: center;
	margin: 0 auto;
	background-color: red;
	color: #000;
	padding: 8px;
	border-radius: 3px;
}
.gameText{ 
	text-align: center;
	margin: 0 auto;
}
#game{
	width: 900px;
	margin: 0 auto;
	overflow: hidden;
}
#mazeCanvas{
	float: left;
}
#gameBord{
	float: right;
}
.gameControls{
	position: relative;
	height: 360px;
	top: 140px; 
	left: 60%;
}
.dpad{
	position: absolute;
	width: 120px;
	height: 120px;
	cursor: pointer;
}
#a_up{
	left: 120px;
}
#a_left{
	left: 0px;
	top: 120px;
}
#a_center{
	position: absolute;
	left: 120px;
	top: 120px;
	width: 120px;
	height: 120px;
	background-color: red;
}
#a_right{
	left: 240px;
	top: 120px;
}
#a_down{
	left: 120px;
	top: 240px;
}

/* -------------------------------------- Game end / fact start ----------------------------------------  */

.factNav:hover{
	cursor: pointer;
}
.fact{
	opacity: 1;
	font-size: 1.6em;
	transition:all 1s; 
}
/* -------------------------------------- fact end ----------------------------------------  */
.socialmedia{
	text-align: center;
	margin:30px auto;
}
.events{
	padding-top: 30px;
}
.events a{
	background-color:#333;
	color: #fff;
	padding: 10px;
	border-radius: 3px;
}
.events a:hover{
	background-color:#666;
}

#smallsocial{
	display: block;
}
#bigsocial{
	display: none;
}

/* -------------------------------------- social media end ----------------------------------------  */

footer{
	background-color: #000;
	color: #666;
	text-align: center;
	padding: 30px;
}

footer a{
	opacity: 0.7;
	color: #999;
}

footer a:hover{
	opacity: 1;
	color: #999;
}

/* -------------------------------------- Media querys ----------------------------------------  */

@media screen and (min-width: 80em) {

#burger{
	display: none;
}
#menulink{
	display: none;
}
h1{
	font-size: 5em;
}
h2{
	font-size: 1.5em;
}
#topNav{
	font-family: sans-serif;
	font-size: 0.8em;
	width: 100%;
	height: 4em;
	text-align: center;
	margin-top: 0px;
	padding-top: 1em;
	padding-bottom: 0.8em;
	display: block;
}
nav ul li{
	text-decoration: none;
	list-style-type:none;
	display: inline;
}
nav ul li a{
	font-size: 0.9em;
}
.imgholder{
	width: 10%;
}
#uploader{
	font-size: 1em;
}
#vidStarter img{
	margin: 15% 33%;
}
#videozone{
	margin: 0 auto;
	margin-top: 45px;
	width: 1280px;
	height: 720px;
}

#gamecon{
	display: block;
}

#wasd{
	display: block;
	margin: 0 auto;
}
.mazemen{
	display: block;
}
#startBtn{
	font-size: 1.3em;
	padding: 8px;
}
#gamecon h3{
	font-size: 1.8em;
	text-align: center;
}

#gamecon p{
	font-size: 1.3em;
	text-align: center;
}
.gameControls{
	position: relative;
	height: 180px;
	top: 300px; 
	left: 80%;
}
.dpad{
	position: absolute;
	width: 60px;
	height: 60px;
	cursor: pointer;
}
#a_up{
	left: 60px;
}
#a_left{
	left: 0px;
	top: 60px;
}
#a_center{
	position: absolute;
	left: 60px;
	top: 60px;
	width: 60px;
	height: 60px;
	background-color: red;
}
#a_right{
	left: 120px;
	top: 60px;
}
#a_down{
	left: 60px;
	top: 120px;
}
.fact{
	font-size: 1.2em;
}
#smallsocial{
	display: none;
}
#bigsocial{
	display: block;
}
}